/* GENERAL STYLE */

div {
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
	
	border-style: solid;
	border-color: #E0E0E0;
	border-width: 1px;
	
	font-weight: bold;
}

/* HEADER */

.header {
	width: 100%;
	height: 200px;
	
	border-style: none;
}

.corner {
	float: left;
	
	width: 25%;
	height: 100%;
	
	border-style: none;
}

.corner_header {
	text-align: center;
	
	width: 100%;
	height: 34%;
	
	background-color: blue;
	
	color: black;
	font-size: 50px;
}

.corner_body {
	text-align: center;
	
	width: 100%;
	height: 66%;
	
	font-size: 100px;
}

.top_middle {
	float: left;
	text-align: center;
	
	width: 50%;
	height: 100%;
	
	font-size: 35px;
}

/* TEAMS GENERAL */

.team_33 {
	float: left;
	
	width: 33%;
	height: auto;
	
	border-style: none;
}

.team_34 {
	float: left;
	
	width: 34%;
	height: auto;
	
	border-style: none;
}

.team_50 {
	float: left;
	
	width: 50%;
	height: auto;
	
	border-style: none;
}

.team_100 {
	float: left;
	
	width: 100%;
	height: auto;
	
	border-style: none;
}

/* TEAM SCORES */

.team_score_red {
	text-align: center;
	
	width: 100%;
	height: 250px;
	
	background: red;
}

.team_score_yellow {
	text-align: center;
	
	width: 100%;
	height: 250px;
	
	background: yellow;
}

.team_score_green {
	text-align: center;
	
	width: 100%;
	height: 250px;
	
	background: green;
}

.team_score_top {
	width: 100%;
	height: 20%;
	
	color: black;
	
	font-size: 40px;
}

.team_score_bottom {
	padding: 5px;
	
	width: 100%;
	height: 80%;
	
	color: black;
	
	font-size: 160px;
}

/* INDIVIDUAL SCORES */

.ind_scores {
	width: 100%;
	height: 250px;
	
	border-style: none;
}

.ind_quizzer {
	width: 100%;
	height: 50px;
	
	border-style: none;
	
	font-size: 35px;
}

.ind_jump_light {
	float: left;
	
	width: 50px;
	height: 50px;
	
	background-color: #D0D0D0;
}

.ind_name {
	float: left;
	padding: 5px;
	
	width: auto;
	
	border-style: none;
}

.ind_score {
	float: right;
	padding: 5px;
	
	width: auto;
	
	border-style: none;
}

/* FOOTER (?) */

.footer {
	float: left;
	
	width: 100%;
	height: 50px;
}