.team {
	width: 200px;
	height: 500px;
	float: left;
	border: solid;
}

.team_score {
	width: 200px;
	height: 500px;
	float: left;
	margin: 0px;
	padding: 0px;
}

.quizzer_score {
	width: 200px;
	height: 60px;
	border: solid;
}

.quizzer_score1 {
	width: 160px;
	float: left;
}

.quizzer_score2 {
	width: 40px;
	float: left;;
}

.team_red {
	width: 200px;
	height: 200px;
	background: red;
	text-align: center;
	border: solid;
}

.team_yellow {
	width: 200px;
	height: 200px;
	background: yellow;
	text-align: center;
	border: solid;
}

.team_green {
	width: 200px;
	height: 200px;
	background: green;
	text-align: center;
	border: solid;
}